@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html ,body {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.wrapper {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    background: rgb(17,25,65);
    background: linear-gradient(90deg, rgba(17,25,65,1) 0%, rgba(61,13,23,1) 100%);
}
@media screen and (max-width: 768px) {
    .wrapper {
        height: auto;
        min-height: 100vh;
        padding-top: 100px;
    }
}
.profile-card {
    width: 100%;
    min-height: 460px;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 700px;
    position: relative;
}
.profile-card.active .profile-card__cnt {
    filter: blur(6px);
}
.profile-card.active .profile-card-message, .profile-card.active .profile-card__overlay {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0.1s;
}
.profile-card.active .profile-card-form {
    transform: none;
    transition-delay: 0.1s;
}
.profile-card__img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}
@media screen and (max-width: 576px) {
    .profile-card__img {
        width: 120px;
        height: 120px;
    }
}
.profile-card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-card__cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all 0.3s;
}
.profile-card__name {
    font-weight: 700;
    font-size: 24px;
    color: #6944ff;
    margin-bottom: 15px;
}
.editProfile{
    margin-left: 150px;
    width: 100%;
    margin-bottom: 10px;
}


nav {
    font-family: 'Poppins', sans-serif;
    border-radius: 50px !important;
    padding: 0 40px !important;
    position: absolute;
}
.logo{
    width: 100px;
    height:auto;
    margin-top:5px;
}

a.nav-link {
    margin: 10px;
    padding: 1px 25px !important;
    color: #9f9f9f;
    border-radius: 50px;
}

a.nav-link:hover {
    color: blue;
    background: #e7e7e7;
}

.navbar-toggler {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler:active {
    outline: none;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler img {
    transition: width 0.15s ease-in-out;
}

.navbar-toggler.clicked img {
    width: 75px;
}
